{% extends 'base.html.twig' %}

{% block body %}

    {% if comments|length > 0 %}
        <div class="container">
            {% for comment in comments %}
                <div>[{{ comment.date.format('Y-m-d H:i:s') }}] {{ comment.author }} commented about this repo : {{ comment.repository }}</div>
                <div>{{ comment.content }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="container">
        <h2>Add comment</h2>

        <form method="post" id="comment-form">
            <div>
                {{ username }}
            </div>
            <div>
                <select name="repository" autofocus>
                    {% for repository in repositories %}
                        <option value="{{ repository.full_name }}">
                            {{ repository.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="comment">Set comment:</label>
            </div>
            <div>
                <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </div>
        </form>
    </div>
{% endblock %}